@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
body{
    background-color: rgb(17, 18, 19);
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #0f0f0f 1px, transparent 1px), 
    linear-gradient(to bottom, #0f0f0f 1px, transparent 1px), 
    radial-gradient(circle, #0f0f0f 2px, rgba(0, 0, 0, 0) 1px);
}

.parentDiv{
    height: 80px;
    width: auto;
    display: flex;
    margin-left: 4cm;
    margin-top: 3cm;
}

.rightButtonLayout{
    position: relative;
    height: 80px;
    width: 20cm;
    margin-right: 6cm;
    margin-left: auto;
    display: flex;
}

.napit{
    margin-left: auto;
    width: 7cm;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    font-family: "Source Code Pro", monospace;
    text-align: center;
}

.napit:hover{
    background-color: rgb(68, 68, 68);
}

.nappienVäli{
    position: relative;
    font-size: 40px;
    margin-left: auto;
    text-align: center;
    font-family: "Source Code Pro", monospace;
    color: rgb(116, 116, 116);
    line-height: 70px;
    width: 2cm;
}

p{
    position: relative;
    font-size: 40px;
    font-family: "Source Code Pro", monospace;
    color: rgb(116, 116, 116);
    margin-top: 12px;
    margin-bottom: 0;
    text-align: right;
    padding-right: 40px;
}

.mainText{
    position: relative;
    font-size: 40px;
    font-family: "Source Code Pro", monospace;
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 3px;
    text-align: left;
    word-break: break-all;
}

.childText{
    text-align: right;
    width: 200px;
}

.innerDiv{
    position: relative;
    background-color: rgb(68, 68, 68);
    width: 15cm;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.innerDiv.hide{
    transition-duration: 1s;
    width: 0;
}

#inner1{
    height: 260px;
}

#parent1{
    height: 200px;
}